/* Basic Style */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
h2 {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/* Aside */
.aside {
  text-align: right;
}
.aside__image {
  display: block;
  width: 100%;
}
.aside__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .aside {
    text-align: center;
  }

}

/* New Task */
.new-tasks{
  padding-top: 16px;
  padding-bottom: 16px;
}
.new-tasks__wrapper {
  display: flex;
}
.new-tasks__label {
  display: block;
  margin: 0 0 20px;
}
.new-tasks__field {
  width: 318px;
  display: inline-block;
  flex-grow: 1;
}
.new-tasks__btn:hover {
  color: #0fc57c;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}
.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task__field {
  width: 226px;
}
.task__delete-btn:hover {
  color: #cf2323;
}
.task__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.task__delete-img:hover {
  transform: rotateZ(0);
}
.task__field,
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__field,
.new-tasks__field {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task__field:focus,
.new-tasks__field:focus {
  color: #333;
}

/* Completed */
.completed-tasks__list .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__field {
  display: none;
}

.task--edit-mode .task__field {
  display: inline-block;
  width: 224px;
}

.task--edit-mode .task__label {
  display: none;
}